<h1><%= @wiki.markdown_title %></h1>
<%= public_private %>
<div class="author-meta">
  <small>Created by: <%= @wiki.username %></small>
  <br/>
  <small>Created: <%= time_ago_in_words(@wiki.created_at) %> ago</small>
</div>

<p><%= @wiki.markdown_body %></p>

<%= link_to "Edit wiki", edit_wiki_path, class: 'btn btn-success' %>

<% if policy(Wiki.new).create? %>
<%= link_to "Delete wiki", wiki_path(@wiki.id), class: 'btn btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
